aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.7.1
argon2-cffi==21.1.0
async-timeout==4.0.1
atomicwrites==1.4.0
attrs==21.2.0
backcall==0.2.0
banal==1.0.6
base58==2.1.1
beautifulsoup4==4.10.0
bitarray==1.2.2
bleach==4.1.0
certifi==2021.10.8
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.8
click==8.0.1
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
comtypes==1.1.10
countrynames==1.10.5
coverage==5.5
cycler==0.11.0
cytoolz==0.11.2
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.4
docopt==0.6.2
entrypoints==0.3
eth-abi==2.1.1
eth-account==0.5.6
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
ffmpeg==1.4
filelock==3.4.2
Flask==2.0.1
Flask-Alembic==2.0.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
fonttools==4.28.2
frozenlist==1.2.0
gevent==21.8.0
greenlet==1.1.1
gunicorn==20.1.0
gurobipy==9.5.0
hexbytes==0.2.2
idna==3.3
importlib-resources==5.2.2
iniconfig==1.1.1
ipfshttpclient==0.8.0a2
ipykernel==6.5.1
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.1
joblib==1.1.0
Js2Py==0.71
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kaleido==0.2.1
kiwisolver==1.3.2
lru-dict==1.1.7
Mako==1.1.5
MarkupSafe==2.0.1
marshmallow==3.13.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
mistune==0.8.4
motionchart==0.3
multiaddr==0.0.9
multidict==5.2.0
munch==2.5.0
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.1
netaddr==0.8.0
networkx==2.6.3
nltk==3.6.7
normality==2.2.5
nose==1.3.7
notebook==6.4.6
numpy==1.21.4
packaging==21.0
pandas==1.3.4
pandocfilters==1.5.0
parsimonious==0.8.1
parso==0.8.2
pickleshare==0.7.5
Pillow==8.4.0
pipwin==0.5.1
platformdirs==2.4.1
plotly==5.4.0
pluggy==1.0.0
prometheus-client==0.12.0
prompt-toolkit==3.0.22
protobuf==3.19.1
psycopg2-binary==2.8.6
py==1.10.0
PyAudio @ file:///C:/Users/radhi/pipwin/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
pycparser==2.20
pycryptodome==3.11.0
pygame==2.1.2
Pygments==2.10.0
pyjsparser==2.7.1
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.3
pyproj==3.3.0
pyrsistent==0.18.0
pySmartDL==1.3.4
pytest==6.2.5
pytest-cov==2.12.1
pytest-mpl==0.13
python-dateutil==2.8.2
python-Levenshtein==0.12.2
PythonQwt==0.9.0
pyttsx3==2.90
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==302
pywinpty==1.1.6
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.0
QtPy==1.11.2
regex==2021.11.10
reportlab==3.6.5
requests==2.26.0
rlp==2.0.1
scipy==1.7.2
seaborn==0.11.2
Send2Trash==1.8.0
setuptools-scm==6.3.2
Shapely==1.8.0
six==1.16.0
soupsieve==2.3.1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.23
sudo==1.0.0
tenacity==8.0.1
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
textblob==0.17.1
toml==0.10.2
tomli==1.2.2
toolz==0.11.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing_extensions==4.0.0
tzdata==2021.5
tzlocal==4.1
uesgraphs==0.6.4
urllib3==1.26.7
varint==1.0.2
virtualenv==20.13.0
wcwidth==0.2.5
web3==5.25.0
webencodings==0.5.1
websockets==9.1
Werkzeug==2.0.1
widgetsnbextension==3.5.2
xlrd==2.0.1
yarl==1.7.2
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0